.ilustration-newtask {
  height: calc(100vh - 100px);
  width: 47%;
  float: right;
  margin-top: 50px;
  background-image: url(../../../public/Images/undraw_blank_canvas_re_2hwy.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.dark {
  height: calc(100vh - 100px);
  width: 47%;
  float: right;
  margin-top: 50px;
  background-image: url(../../../public/Images/undraw_blank_canvas_re_2hwy-dark.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}


@media  (min-width: 1400px) {
  .ilustration-newtask {
    margin-top: 70px;
  }

  .dark  {
    margin-top: 70px;
  }
}

@media  (max-width: 992ps) {
  .ilustration-newtask {
    width: 45%;
  }

  .dark  {
    width: 45%;
  }
}
