.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  padding: 8px;
  width: 100%;
  background-color: var(--header-background-color);
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  box-shadow: var(--header-shadow);
  z-index: 10;
}

.inner-container,
.switch-container {
  display: flex;
  gap: 1.25rem;
  align-items: center;
}

.link {
  width: 70px;
}

.image-container {
  height: 32px;
  width: 32px;
}

.icon-img {
  width: 100%;
  display: block;
}

.switch-mode {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.icon {
  font-size: 1.25rem;
  color: #ffffff;
  cursor: pointer;
}


@media  (min-width: 1400px) {
  .header {
    height: 50px;
  }

  .link {
    width: 80px;
  }

  .icon {
    font-size: 1.5rem;
  }
}

@media  (max-width: 992px) {
  .link {
    width: 60px;
  }
}

