.wrapper {
  width: 60%;
  margin-inline: auto;
  margin-top: 5rem;
  color: var(--placeholder);
}
.table {
  width: 100%;
  border-collapse: collapse;
}

thead,
tbody {
  text-align: center;
}

th,
td {
  border: 1px solid black;
}

.delete-button {
  margin: 0;
}
