.kanban {
  position: relative;
  padding-top: 140px;
  padding-right: 10%;
  padding-left: 15%;
  width: 100%;
  min-height: 100vh;
  display: flex;
  gap: 0.5rem;
  justify-content: space-around;
  background: url(../../public/Images/pexels-ovan-62693.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
  scroll-behavior: smooth;
}

.dark {
  position: relative;
  padding-top: 140px;
  padding-right: 10%;
  padding-left: 15%;
  width: 100%;
  min-height: 100vh;
  display: flex;
  gap: 0.5rem;
  justify-content: space-around;
  background: url(../../public/Images/pexels-ovan-62693-dark.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
  scroll-behavior: smooth;
}

.kanban-heading {
  position: absolute;
  top: 50px;
  left: 220px;
}

.main-heading,
.sub-heading {
  color: var(--color-main-heading);
  font-family: inherit;
  margin: 0;
}
