.wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  text-align: center;
  font-size: 1.25rem;
  color: #c78437;
}


@media  (min-width: 1400px) {
  .text {
    font-size: 1.5rem;
  }
}

