.task-wrapper {
  display: inline-block;
  width: 40%;
  margin-left: 13%;
  margin-top: 40px;
  height: calc(100vh - 40px);
}

.form-wrapper {
  color: var(--border);
  width: 100%;
  padding-left: 10px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  font-family: inherit;
}

#checkbox {
  width: 16%;
  margin-bottom: 1rem;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 4px;
  color: var(--label-color);
}

.button {
  margin-bottom: 1rem;
}

.button-confirm {
  margin-bottom: 1rem;
}
