.textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border: 0.5px solid var(--border);
  background-color: var(--input-background-color);
  color: var(--input-color);
  font-family: inherit;
}

.label {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 4px;
  color: var(--label-color);
}

.textarea::placeholder {
  color: var(--placeholder);
  font-family: inherit;
}

.textarea:focus {
  outline: 2px solid var(--outline);
  border: 0.5px solid var(--border-focus);
}

textarea {
  resize: none;
}

textarea::-webkit-scrollbar {
  width: 0px;
}


@media  (max-width: 992px) {

  .textarea::placeholder {
    font-size: 0.75rem;
    
  }
}

